#
# Ignore EVERYTHING by default.
*

# .gitignore and README.
!/.gitignore
!/README.md

# .config directory (but not its contents).
!/.config/

# all contents of .config.
/.config/*

#
# --- Whitelisted Configs ---
#

# archguide (package list)
!/.config/archguide.md
# starship.toml
!/.config/starship.toml

# hypr
!/.config/hypr/
/.config/hypr/*
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprpaper.conf
!/.config/hypr/scripts/
!/.config/hypr/scripts/*
!/.config/hypr/wallpapers/
!/.config/hypr/wallpapers/*

# waybar
!/.config/waybar/
/.config/waybar/*
!/.config/waybar/config.jsonc
!/.config/waybar/mocha.css
!/.config/waybar/style.css

# nvim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/lua/
/.config/nvim/lua/*
!/.config/nvim/lua/config/
!/.config/nvim/lua/config/*
!/.config/nvim/lua/plugins/
!/.config/nvim/lua/plugins/*
!/.config/nvim/lua/utils/
!/.config/nvim/lua/utils/*

# kitty 
!/.config/kitty/
!/.config/kitty/*

# dunst
!/.config/dunst/
/.config/dunst/*
!/.config/dunst/dunstrc

# fish
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/functions/
/.config/fish/functions/*
!/.config/fish/functions/loadkey.fish
!/.config/fish/functions/y.fish

# fastfetch
!/.config/fastfetch/
!/.config/fastfetch/*



