##########################
#       .gitignore
#       README
#       starship
#       hypr
#       waybar
#       nvim
#       kitty
#       dunst
#       fish
#       fastfetch
#       yazi
#       rofi
#       wallust
#       spotify-player
##########################

#################################
# Ignore EVERYTHING by default. #
#################################
*

# .gitignore and README.
!/.gitignore
!/README.md

# .config
!/.config/
/.config/*

###############################
# --- Whitelisted Configs --- #
###############################

# starship
!/.config/starship.toml

# hypr
!/.config/hypr/
/.config/hypr/*
!/.config/hypr/hyprland.conf
!/.config/hypr/hyprpaper.conf.template
!/.config/hypr/scripts/
!/.config/hypr/scripts/*
!/.config/hypr/wallpapers/
!/.config/hypr/wallpapers/*

# waybar
!/.config/waybar/
!/.config/waybar/**

# nvim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/lua/
/.config/nvim/lua/*
!/.config/nvim/lua/config/
!/.config/nvim/lua/config/*
!/.config/nvim/lua/plugins/
!/.config/nvim/lua/plugins/*
!/.config/nvim/lua/utils/
!/.config/nvim/lua/utils/*

# kitty
!/.config/kitty/
!/.config/kitty/*

# dunst
!/.config/dunst/
!/.config/dunst/*

# fish
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/functions/
!/.config/fish/functions/*

# fastfetch
!/.config/fastfetch/
!/.config/fastfetch/**

# yazi
!/.config/yazi/
!/.config/yazi/*

# rofi
!/.config/rofi/
!/.config/rofi/*

# wallust
!/.config/wallust/
!/.config/wallust/**

# spotify-player
!/.config/spotify-player/
!/.config/spotify-player/*
